{% extends 'base.html' %}
{% load static %}
{% load app_tags %}
{% block content %}
<section style="margin-top: 100px;">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-3">
            {% include 'buyer/dash-base.html' %}
            </div>
            <div class="col-lg-9">
                <main style="margin-top:100px">
                    <div class="container-fluid my-4 d-flex">          
                        <div class="card col-sm-12 col-md-4">
                            <div class="card card-stepper text-black" style="border-radius: 16px;">
                    <div class="card-header text-center">Change Password</div>
                    <div class="card-body" style="margin: auto;">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form"> 
                                        <label class="form-label" for="password" style="color: #012657;">Old Password</label>
                                        <div type="password" name="new_password1" autocomplete="new-password"
                                        class="col-12" required id="id_new_password1">
                                        {{form.old_password}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row py-3">
                                <div class="col-lg-12">
                                    <div class="form-outline"> 
                                        <label class="form-label" for="password" style="color: #012657;">New Password</label>
                                        <div type="password" name="new_password2" autocomplete="new-password"
                                        class="form-data" required id="id_new_password2">
                                        {{form.new_password1}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row pb-3">
                                <div class="col-lg-12">
                                    <div class="form-outline">
                                        <label class="form-label" for="password" style="color: #012657;">Confirm Password</label>
                                        <div type="password" name="new_password3" autocomplete="new-password"
                                        class="form-data" required id="id_new_password3">
                                        {{form.new_password2}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn text-white" id="reset" style="background-color: #012657;">Reset Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                  </div>
                  </div>
                </main>
            </div>
        </div>
    </div>
</section>
{% endblock %}