{% extends 'base.html' %}
{% load crispy_forms_tags %}   
{% block content %}
<section style="margin-top: 100px;margin-bottom: 150px;">
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
     <hr>
     <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
     <form method="POST">
         {% csrf_token %}
         <div class="form-outline mb-4 col-lg-3">
            <input type="email" id="email" name="email" class="form-control" style="height: 50px;" required><span class="fa fa-envelope" style="float: right;position: relative; margin-top: -34px; margin-right: 8px; color: #012657;"></span>
            <label class="form-label" for="email" style="color: #012657;">Email ID</label>
          </div>                  
         <button class="btn btn-primary" type="submit">Send email</button>
     </form>
   </div> 
</section>

{% endblock content %}