{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section style="margin-top: 100px;margin-bottom: 100px;">
	<div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                   
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-outline"> 
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                class="form-control" required id="id_new_password1" class="form-control form-control-lg"><span class="fa fa-key" style="float: right;position: relative; margin-top: -28px; margin-right: 8px; color: #012657;"></span>
                                                <label class="form-label" for="password" style="color: #012657;">New Password</label>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row py-3">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-outline">
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                class="form-control" required id="id_new_password2" class="form-control form-control-lg"><span class="fa fa-key" style="float: right;position: relative; margin-top: -28px; margin-right: 8px; color: #012657;"></span>
                                                <label class="form-label" for="password" style="color: #012657;">New Confirm Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn text-white" id="reset" style="background-color: #012657;">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}