{% extends 'base.html' %}
{% block content %}
<section class="popular-auction padding-top pos-rel py-5 mt-5" style="background-image: url('/static/image/Rectangle\ 1.png'); background-repeat: no-repeat; background-size: auto;">
    <div class="container">
          <div class="row px-5 mt-5">
            <div class="col-12 m-auto">
                      <div class="card pt-5">
                        <div class="card-body">
                            <div class="row g-0">
                                <div class="accordion w-100" id="basicAccordion">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                          data-mdb-target="#basicAccordionCollapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Can I pay by card?
                                        </button>
                                      </h2>
                                      <div id="basicAccordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                        data-mdb-parent="#basicAccordion">
                                        <div class="accordion-body">
                                          <strong>Yes,        
                                            For any invoices over this figure, you'll need to complete an online bank transfer.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                          data-mdb-target="#basicAccordionCollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          If a bidder wins an item, can they return it?
                                        </button>
                                      </h2>
                                      <div id="basicAccordionCollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                        data-mdb-parent="#basicAccordion">
                                        <div class="accordion-body">
                                          <strong>No, our auctions are not regulated by the Distance Selling Act.

                                            We can accept returns when the item is materially different from what is described in the auction.
                                            
                                            If the lot you won is different from what was described, it's important that you contact the vendor and us so we're aware of the situation and can assist if required.
                                            
                                            If you're having problems with online bidders, we created this guide which is aimed at improving your selling experience by ensuring you're not making some of the most common mistakes in online selling.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                          data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          How do I get my auction items?
                                        </button>
                                      </h2>
                                      <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                        data-mdb-parent="#basicAccordion">
                                        <div class="accordion-body">
                                          <strong>We do not keep the lots consigned to auction. They are held by the vendor.

                                            Once the payment request has been paid, the winning bidder will receive a collection note and this will show the vendor’s name, e-mail address and contact telephone number. 
                                            
                                            The winning bidder will then be able to liaise with the vendor about collection or delivery.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                          data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          If I sell in auction, when do I receive the funds?
                                        </button>
                                      </h2>
                                      <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                        data-mdb-parent="#basicAccordion">
                                        <div class="accordion-body">
                                          <strong>As a security measure, we withhold funds to vendors until the winning bidder has received their lot.

                                            When the winning bidder has received their lot and is satisfied, we will begin the process of sending the vendor their funds.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                          data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          What happens if you bid on the wrong item?
                                        </button>
                                      </h2>
                                      <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                        data-mdb-parent="#basicAccordion">
                                        <div class="accordion-body">
                                          <strong>If you bid on the wrong item at auction, it's imperative that you contact the auction house immediately.

                                            There's no defined process for situations like this because each auction will have terms and conditions which you need to read before you bid.
                                            
                                            If a solution is not found, your bid may likely stand. It's vital that you are on the correct lot before you place your bid because they are legally binding commitments.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                          data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          How can I do an online auction?
                                        </button>
                                      </h2>
                                      <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                        data-mdb-parent="#basicAccordion">
                                        <div class="accordion-body">
                                          <strong>To understand how we can help you, please get in touch with us to discuss your requirements. 

                                            To register with us, you'll need to go through a free and quick registration process. Once completed, you are allocated an account manager as a central point of contact.
                                            
                                            You will then be given access to our selling platform to manage and submit your auction inventory. 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                        </div>
                     </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    
