{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block content %}
<div id="content-main">
    <div class="breadcrumbs py-2">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Password change' %}
    </div>
    <hr>
<div class="card">
  <div class="card-body justify-content-center">
    <form method="post">
        {% csrf_token %}
        <div>
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}
        
        
        <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
        
        {% for field in form %}
            <div class="form-outline mb-4 col-sm-12 col-lg-6">
              <input type="{{field.widget_type}}" id="{{field.id_for_label}}" name="{{field.html_name}}" class="form-control form-control-lg" style="height: 50px;"><span class="fa fa-key" style="float: right;position: relative; margin-top: -34px; margin-right: 8px; color: #012657;"></span>
              <label class="form-label" style="color: #012657;">{{field.label}}</label>
          </div>
          {{field.errors}}
        {% endfor %}
           
        <div class="submit-row justify-content-start pt-3">
            <input type="submit" value="{% translate 'Change my password' %}" class="btn text-white" style="background-color: #012657;">
        </div>
        
        </div>
        </form>
  </div>
</div>
</div>

{% endblock %}
