{% load i18n %}
<div class="card border">
    <div class="card-header">
        <h3>{% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}</h3>
    </div>
    <div class="card-body">    
        <ul>
        {% for choice in choices %}
            <li {% if choice.selected %} class="selected"{% endif %}>
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a></li>
            <hr>
        {% endfor %}
        </ul>
    </div>
</div>

